.RentalPaper_root {
    position: relative;
    height: 400px;
}

.RentalPaper_root h2 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    color: #555;
}

.RentalPaper_item {
    display: flex;
    position: relative;
    width: 90%;
    padding: 15px 5%;
    border-bottom: solid 1px #ddd;
    justify-content: space-between;
}

.RentalPaper_itemImage {
    position: relative;
    width: 30%;
}

.RentalPaper_itemImage img {
    position: relative;
    width: 100%;
    height: auto;
}

.RentalPaper_itemTitle {
    position: relative;
    width: 66%;
    padding-left: 20px;
}

.RentalPaper_itemTitle span {
    position: relative;
    font-size: 18px;
}

.RentalPaper_form {
    position: relative;
    width: 90%;
    padding: 20px 5%;
}

.RentalPaper_form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.RentalPaper_form ul li {
    height: 40px;
    margin-bottom: 30px;
}

.RentalPaper_form ul li span {
    margin-right: 15px;
    font-size: 18px;
    line-height: 40px;
}

.RentalPaper_form ul li select {
    height: 40px;
    padding: 8px 25px;
    border: 2px solid #ddd;
    color:#828c9a;
    border-radius: 15px;
    outline:none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    box-sizing: border-box;
}

select::-ms-expand {
    display: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #828c9a;
}

.RentalPaper_form ul li select option {
    background-color: #fff;
    color: #333;
}

.RentalPaper_form ul li label {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 36px;
    border: 2px solid #ddd;
    border-radius: 15px;
}

.RentalPaper_form ul li input[type="date"] {
    position: relative;
    padding: 0 10px;
    width: 200px;
    height: 36px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

.RentalPaper_submitBtn {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    background-color: rgb(3, 63, 112);
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 4px;
    transition: .3s;
}

.RentalPaper_submitBtn::before, .RentalPaper_submitBtn::after{
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  border-radius: 50%;
  background: rgba(255, 255, 255, .1);
  transform: scale(0,0);
}

.RentalPaper_submitBtn:hover {
    cursor: pointer;
}

.RentalPaper_submitBtn:active {
    opacity: .7;
}

.RentalPaper_submitBtn:focus {
    outline: 0;
}

.RentalPaper_submitBtn:hover::before{
    animation: hamon 2s infinite;
}

.RentalPaper_submitBtn:hover::after{
    animation: hamon 2s .3s infinite;
}

@keyframes hamon {
    0%   {  transform: scale(0,0);}
    100% {  transform: scale(50,50);opacity: 0;}
}