.RentalList_header {
  padding: 30px 0 20px;
}

.RentalList_table {
  position: relative;
  width: 100%;
}

.RentalList_cellHeader {
  font-weight: normal !important;
}

.RentalList_cellHeader img {
  width: auto !important;
  height: 3.5em !important;
}