.SearchForm_root {
	display: flex;
	position: absolute;
	top: 8.5px;
	left: 30%;
	width: 45%;
	height: 39px;
}

.SearchForm_input {
	position: relative;
	width: 100%;
	margin-right: 5px;
	padding: 10.5px 20px;
	border: 0;
	border-radius: 39px;
	font-size: 15px;
	background: #efefef;
	color: #455860;
}

.SearchForm_input:hover, .SearchForm_input:focus {
	background: #eaeaea;
}

.SearchForm_input:focus {
	outline: 0;
}

.SearchForm_submit {
	position: relative;
	padding: 8.5px;
	border-radius: 39px;
	background: #fdfdfd;
}

.SearchForm_icon {
	font-size: 20px;
	color: #444;
}

.SearchForm_submit:hover {
	cursor: pointer;
}

.SearchForm_submit:focus {
	outline: 0;
}
